/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	font-family: 'ff-meta-serif-web-pro', serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 500;
	color: #282828;
}

nav, footer {
	background-color: #eee;
}

footer {
	padding: 20px 0;
}

.jumbotron h1 {
	font-family: 'brandon-grotesque', sans-serif;
	font-weight: 900;
	font-size: 96px;
}

h1 {
	font-family: 'brandon-grotesque', sans-serif;
	font-weight: 900;
	font-size: 63px;
}

.social a {
	color: #262626;
}

.social a:hover {
	color: #eee;

	-webkit-transition: .5s all ease;
	transition: .5s all ease;
	-moz-transition: .5s all ease;
	-o-transition: .5s all ease;
}

.jumbotron {
	background-color: #fff;
	display: block;
	height: 100vh;
	width: auto;
}

.navbar-brand {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 6px;
}

.btn-custom {
	border: 4px solid #282828;
	padding: 18px;
	color: #282828;
	transition: all .5s ease;
}

.btn-custom:hover {
	background-color: #282828;
	color: #fff;
	text-decoration: none;
}

nav li a, h2 {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 6px;
	font-weight: 700;
	line-height: 31px;
	color: #aaa;
}

nav li a {
	color: #aaa;
	font-family: 'brandon-grotesque', sans-serif;
	transition: all .5s ease;
}

nav li a:hover {
	color: #fff;
}

nav span.icon-bar {
	background-color: #282828;
}

.arrow-down {
	color: black;
	margin-top: 40px;
}

.showcase p{
	width: 90%;
}

.showcase {
	/*margin-bottom: 15%;*/
}

.portfolio-main {
	/*height: 100vh;*/
}

.portfolio-main section {
	padding-top: 5%;
}

.portfolio-main-item {
	/*background-color: #ccc;*/
	/*height: 100vh;*/
	/*border: 5px dashed #aaa;*/
	padding: 5%;
}

/*=========================================================
	PORTFOLIO IMAGE OVERLAY
==========================================================*/

/*.image {
    position:relative;
    width:200px;
    height:200px;
}*/
.image img {
    width:100%;
    vertical-align:top;
}
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    top: 40%;
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 36px;
    padding:4px 10px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}

.margin-fix {
	margin-bottom: 0px;
}

.about, .adventures, .portfolio {
	margin-bottom: 10%;
	margin-top: 50px;
}

.about-jumbotron {
	background: url('../img/alex.png') bottom fixed;
	background-color: transparent;
	height: 70vh;
	padding-top: 50px;
	padding-bottom: 0px;
}

.main-jumbotron {
	padding-top: 15%;
}

.contact {
	padding-top: 100px;
	height: 90vh;
}

.card {
	height: 320px;
	background-color: #ccc;
	box-shadow: 1px 1px 3px #aaa;
	padding: 1%;
	margin-bottom: 5%;
}

.card1 {
	background: url('../img/1.jpg') center;
	background-size: cover;
}

.card2 {
	background: url('../img/2.jpg') center;
	background-size: cover;
}

.card3 {
	background: url('../img/5.jpg') top;
	background-size: cover;
}

.card4 {
	background: url('../img/4.jpg') top;
	background-size: cover;
}

.card5 {
	background: url('../img/3.jpg') top;
	background-size: cover;
}

.card6 {
	background: url('../img/8.jpg') top;
	background-size: cover;
}

.card7 {
	background: url('../img/6.jpg') center;
	background-size: cover;
}

.card8 {
	background: url('../img/12.jpg') center;
	background-size: cover;
}

.card9 {
	background: url('../img/wt-launch-week3.png') center;
	background-size: cover;
}

.card13 {
	background: url('../img/13.png') center;
	background-size: cover;
}

#aff-carousel {
	margin-top: 150px;
}


footer {
	margin-top: 20px;
}



@media screen and (max-width: 600px) {
	.main-jumbotron h1 {
		font-size: 63px;
	}

	.contact, .adventures {
		padding-top: 50px;
	}

	.showcase p {
		width: 100%;
	}

	/*.portfolio .col-xs-12 {
	width: 100%;
	}*/
}





