</div><!-- /container -->

<footer>
    <section class="container">
        <section class="row col-md-12">
            <p class="pull-right">&copy; Alex Campillo 2015</p>
            <!-- <a class="pull-right" href="http://www.github.com/alexcampillo"><i class="fa fa-github fa-2x"></i></a> -->

        
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{site.baseurl}}js/vendor/bootstrap.min.js"></script>

        <script src="{{site.baseurl}}js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-61363601-1', 'auto');
          ga('send', 'pageview');
        </script>
        
        </section>
    </section>
    </footer>
    </body>
</html>
