<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <section class="container">
        <section class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </section>
        <section id="navbar" class="navbar-collapse collapse">
          <ul role="navigation" class="nav nav-justified">
            <li><a href="{{site.baseurl}}index.html">home</a></li>
            <li><a href="{{site.baseurl}}about">about</a></li>
            <li><a href="#">my work</a></li>
            <li><a href="#">adventures</a></li>
            <li><a href="{{site.baseurl}}contact">contact</a></li>
          </ul>
        </section><!--/.navbar-collapse -->
      </section>
    </nav>